@import url("./styles/reset.css");
@import url("./styles/header.css");
@import url("./styles/banner.css");
@import url("./styles/topicos.css");
@import url("./styles/vagas.css");
@import url("./styles/banner_final.css");
@import url("./styles/footer.css");

:root {
     --cor-branco: #FFFFFF;
     --cor-vinho: #8E2424;
     --cor-branco-p-vinho: #fdf8f8;
     --cor-preto: #101828;
     --cor-cinza: #667085;
     --cor-back-botao: #f9f4f4;
     --cor-footer: #F9FAFB;


     --fonte-principal: "Inter", sans-serif;
}

body{
     font-family: var(--fonte-principal);
     font-weight: 500;
}

