
.cabecalho{
     display: flex;
     justify-content: space-around;
     gap: 17em;
     align-items: center;
     padding: 2em 0em 1em 5em;
}

.cabecalho__lista{
     display: flex;
     gap: 1.5em;
     align-items: center;
     margin: 0em 15em 0em 0em;
}

.cabecalho__lista__item{
     text-decoration: none;
     color: var(--cor-cinza);
}

.cabecalho__botoes{
     display: flex;
     gap: 1.5em;
     margin: 0em 3em 0em 0em;
}

.cabecalho__botoes{
     display: flex;
     align-items: center;
     text-decoration: none;
}

.cabecalho__botoes__link__entrar{
     text-decoration: none;
     color: var(--cor-cinza);

}

.cabecalho__botoes__link__cadastro{
     background: var(--cor-vinho);
     padding: 1em;
     border-radius: 1em;
     color: var(--cor-branco);
     text-decoration: none;
}